
.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(2px);
  z-index: 10000;
  transition: backdrop-filter ease-in-out 200ms;;
}
